/* make http and body fill up all area  */
html, body {
  height: 100%;
  margin: 0;
  /* background-color: #616161; */
}
/* make the canvas fill its container */
canvas {
  background-color: white;
  display: block;
  border: 3px solid #000000;
}

h1 {
  margin: 15px 0;
}

p {
  margin: 5px 0;
}

select {
  margin-bottom: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
}

.menu-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}

.saveContainer {
  margin: 20px 0;
}